body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

th {
	background: #2B3E50 !important;
	pointer-events: none;
}
.fc-list-event-time {
	align-self: center;
}
tr:hover {
    background-color: transparent !important;
}

tr:hover td {
    background-color: transparent !important; 
}
/* Made so the list event line wouldn't highlight the link, just the button */
.fc-list-event, .fc-list-event-title a{
  cursor: default !important;
  text-decoration: none !important;
}

/* .fc-event-time, .fc-event-title {
padding: 0 1px;
white-space: nowrap;
}

.fc-title {
white-space: normal;
}

 titlewrap^^ */

.old
{
	display: none;
}

/* 
also adding darkmode

*/
#top {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  font-size: 12px;
}

#loading {
  display: none;
}

#calendar {
/*  max-width: 1100px; */
  margin: 40px auto;
  padding: 0 10px;
}

.twitch {
	background-color: #6441A5 !important;
}

.tzo {
  color: #000;
}

footer{
	height: 30px;
}